services:
  tfserving:
    image: tensorflow/serving:2.14.0
    platform: linux/amd64
    ports:
      - "8502:8501"   # host:container
    volumes:
      - ./models/saved_model:/models/credit_model
    command: --model_name=credit_model --model_base_path=/models/credit_model
    restart: unless-stopped

  api:
    build:
      context: .
      dockerfile: infra/api/Dockerfile
    ports:
      - "8000:8000"
    environment:
      - TF_SERVING_URL=http://tfserving:8501/v1/models/credit_model:predict
      - DB_URL=postgresql://credit_user:credit_pass@postgres:5432/credit        # Injected by Jenkins
      - ENV=prod
    volumes:
      - ./artifacts:/app/artifacts
      - ./models:/app/models
    depends_on:
      - tfserving
      - postgres
    restart: unless-stopped

  postgres:
    image: postgres:15
    environment:
      - POSTGRES_DB=credit
      - POSTGRES_USER=credit_user
      - POSTGRES_PASSWORD=credit_pass
    ports:
      - "5433:5432"   # avoid local 5432 conflicts
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: unless-stopped

  pgadmin:
    image: dpage/pgadmin4:8.10
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin@example.com
      - PGADMIN_DEFAULT_PASSWORD=adminpass
    ports:
      - "5051:80"     # avoid local 5050 conflicts
    depends_on:
      - postgres
    restart: unless-stopped

volumes:
  pgdata:

