services:
  tfserving:
    image: tensorflow/serving:2.14.0
    container_name: tfserving
    ports:
      - "8501:8501"
    volumes:
      - ./models/saved_model:/models/credit_model
    command: --model_name=credit_model --model_base_path=/models/credit_model
    restart: unless-stopped

  api:
    build:
      context: .
      dockerfile: infra/api/Dockerfile
    container_name: credit_api
    ports:
      - "8000:8000"
    environment:
      - TF_SERVING_URL=http://tfserving:8501/v1/models/credit_model:predict
      - DB_URL=${DB_URL}        # read from Jenkins credential
      - ENV=prod
    volumes:
      - ./artifacts:/app/artifacts
      - ./models:/app/models
    depends_on:
      - tfserving
      - postgres
    restart: unless-stopped

  postgres:
    image: postgres:15
    container_name: postgres
    environment:
      - POSTGRES_DB=credit
      - POSTGRES_USER=credit_user
      - POSTGRES_PASSWORD=credit_pass
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: unless-stopped

  pgadmin:
    image: dpage/pgadmin4:8.10
    container_name: pgadmin
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin@example.com
      - PGADMIN_DEFAULT_PASSWORD=adminpass
    ports:
      - "5050:80"
    depends_on:
      - postgres
    restart: unless-stopped

volumes:
  pgdata:

