version: "3.9"

services:
  tfserving:
    image: tensorflow/serving:2.14.0
    platform: linux/amd64
    volumes:
      - ./models/saved_model:/models/credit_model
    command: --model_name=credit_model --model_base_path=/models/credit_model
    restart: unless-stopped

  api:
    build:
      context: .
      dockerfile: infra/api/Dockerfile
  #  ports:
  #    - "8010:8000"
    environment:
      - TF_SERVING_URL=http://tfserving:8501/v1/models/credit_model:predict
      - DB_URL=postgresql://credit_user:credit_pass@postgres:5432/credit
      - ENV=prod
    volumes:
      - ./artifacts:/app/artifacts
      - ./models:/app/models
    depends_on:
      - tfserving
      - postgres
    restart: unless-stopped

  postgres:
    image: postgres:15
    environment:
      - POSTGRES_DB=credit
      - POSTGRES_USER=credit_user
      - POSTGRES_PASSWORD=credit_pass
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: unless-stopped

  pgadmin:
    image: dpage/pgadmin4:8.10
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin@example.com
      - PGADMIN_DEFAULT_PASSWORD=adminpass
    depends_on:
      - postgres
    restart: unless-stopped

  jenkins:
    build:
      context: .
      dockerfile: infra/jenkins/Dockerfile
    user: root
    ports:
      - "8080:8080"
      - "50000:50000"
    volumes:
      - jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped
    depends_on:
      - api
      - postgres

volumes:
  pgdata:
  jenkins_home:

