    services:
  jenkins:
    build:
      context: .
      dockerfile: infra/jenkins/Dockerfile
    container_name: credit_project-jenkins
    user: root
    ports:
      - "8080:8080"
      - "50000:50000"
    volumes:
      - ./jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped
restart: unless-stopped

