fastapi==0.115.5
uvicorn==0.32.0
tensorflow==2.15.0
keras==2.15.0
scikit-learn==1.6.1
pandas==2.2.3
joblib==1.4.2
sqlalchemy==2.0.36
psycopg2-binary==2.9.10
pydantic==2.9.2
matplotlib==3.9.0
requests==2.32.3
scipy==1.13.1
pydantic-settings>=2.0	
